<!-- sidebar -->
<div class="sidebar">
  <!-- sidebar logo -->
  <a href="#" class="sidebar__logo">
    <img src="assets\img\logo.svg" alt="" />
  </a>
  <!-- end sidebar logo -->

  <!-- sidebar user -->
  <div class="sidebar__user">
    <div class="sidebar__user-img">
      <img src="assets\img\user.svg" alt="" />
    </div>

    <div class="sidebar__user-title">
      <span>Admin</span>
      <p>John Doe</p>
    </div>

    <button class="sidebar__user-btn" type="button">
      <i class="icon ion-ios-log-out"></i>
    </button>
  </div>
  <!-- end sidebar user -->

  <!-- sidebar nav -->
  <ul class="sidebar__nav">
    <li class="sidebar__nav-item">
      <a href="" class="sidebar__nav-link sidebar__nav-link--active"
        ><i class="icon ion-ios-keypad"></i> Dashboard</a
      >
    </li>

    <li class="sidebar__nav-item">
      <a href="#" class="sidebar__nav-link"
        ><i class="icon ion-ios-film"></i> Catalog</a
      >
    </li>

    <li class="sidebar__nav-item">
      <a href="#" class="sidebar__nav-link"
        ><i class="icon ion-ios-contacts"></i> Users</a
      >
    </li>

    <li class="sidebar__nav-item">
      <a href="#" class="sidebar__nav-link"
        ><i class="icon ion-ios-chatbubbles"></i> Comments</a
      >
    </li>

    <li class="sidebar__nav-item">
      <a href="#" class="sidebar__nav-link"
        ><i class="icon ion-ios-star-half"></i> Reviews</a
      >
    </li>
  </ul>
  <!-- end sidebar nav -->
</div>
<!-- end sidebar -->
